<project name="ShopGun CopyBeta" xmlns:cb="urn:ccnet.config.builder" queue="Consumentor" queuePriority="2">
  <labeller type="defaultlabeller">
    <prefix>1.0.0.</prefix>
    <incrementOnFailure>false</incrementOnFailure>
  </labeller>

  <cb:scope CCNetProject="ShopGun CopyBeta">

    <tasks>

      <!-- copy dll's for betatest -->
      <exec>
        <executable>xcopy.exe</executable>
        <buildArgs>"$(rootFolder)\ShopGun\src\ApplicationService.Server\bin\Debug\*.dll" "E:\Consumentor\Shopgun.Server\bin\Beta Test" /Y</buildArgs>
        <buildTimeoutSeconds>10</buildTimeoutSeconds>
      </exec>

      <!-- copy server exe for betatest -->
      <exec>
        <executable>xcopy.exe</executable>
        <buildArgs>"$(rootFolder)\ShopGun\src\ApplicationService.Server\bin\Debug\*.exe" "E:\Consumentor\Shopgun.Server\bin\Beta Test" /Y</buildArgs>
        <buildTimeoutSeconds>10</buildTimeoutSeconds>
      </exec>

    </tasks>
    
  </cb:scope>

</project>