<project name="Shopgun.Server" xmlns:cb="urn:ccnet.config.builder" queue="ShopGun" queuePriority="2">
  <cb:scope CCNetProject="Shopgun.Server">
    <webURL>$(webServer)/server/local/project/$(CCNetProject)/ViewProjectReport.aspx</webURL>
    <workingDirectory>$(rootfolder)\Consumentor\ShopGun\$(CCNetProject)</workingDirectory>
    <artifactDirectory>$(rootFolder)\Consumentor\ShopGun\$(CCNetProject)\Artifacts</artifactDirectory>

    <modificationDelaySeconds>15</modificationDelaySeconds>
    <triggers>
      <scheduleTrigger time="23:30" name="nightly_build" buildCondition="IfModificationExists"/>
    </triggers>

    <cb:scope trunkUrl="$(svnRoot)/Consumentor/ShopGun/trunk/">
      <cb:include href="svn.config" />
    </cb:scope>

    <labeller type="svnRevisionLabeller">
      <major>1</major>
      <minor>0</minor>
      <url>https://213.115.114.114:9300/svn/Consumentor/ShopGun/trunk</url>
    </labeller>

    <tasks>
      <msbuild>
        <executable>C:\Windows\Microsoft.Net\Framework\v3.5\msbuild.exe</executable>
        <!--workingDirectory>E:\Consumentor\CCnet\ShopGunWorkingDir\</workingDirectory-->
        <projectFile>ShopGun.msbuild</projectFile >
        <buildArgs>/noconsolelogger /p:Configuration=Debug /v:quiet /p:ReferencePath="C:\Program Files\NUnit 2.5.7\bin\net-2.0"</buildArgs>
        <targets>Build</targets >
        <timeout>600</timeout >
        <logger>c:\Program Files\CruiseControl.NET\server\Rodemeyer.MsBuildToCCNet.dll</logger >
      </msbuild>

      <!-- launches nunit tests on working copy 
		<exec>
			<executable>C:\Program Files\NUnit 2.4.7\bin\nunit-console.exe</executable >
			<buildArgs>/xml:..\project1CCnetArtifacts\nunit-results.xml/nologo Dummy.sln.nunit/exclude:LongRunning,AnotherCategoryName</buildArgs>
		</exec>-->

      <!--buildpublisher>
			<sourceDir>C:\myprojects\project1</sourceDir>
			<publishDir>\\myfileserver\project1</publishDir>
			<useLabelSubDirectory>false</useLabelSubDirectory>
		</buildpublisher-->
    </tasks>

  </cb:scope>
</project>