<connectionStrings>
  <!--<add name="ShopGun" connectionString="Server=.\SqlExpress;Database=ShopGunIntegrationTest;User ID=sa; Password=Qaz_1234;" />-->
  <!--<add name="ShopGun" connectionString="Data Source=213.115.114.114,9353; Initial Catalog=ShopGun; User ID=sa; Password=Zaq-15;" providerName="System.Data.SqlClient" />-->
  <!--<add name="ShopGun" connectionString="Data Source=213.115.114.114,9353; Initial Catalog=ShopGun; User ID=dbShopgunUser; Password=CEKF-Passw0!d;" providerName="System.Data.SqlClient" />-->
  <!--<add name="ShopGun" connectionString="Data Source=213.180.88.124; Initial Catalog=ShopGun; User ID=sa; Password=zaQ-15_PROD;" providerName="System.Data.SqlClient" />-->
  <!--<add name="ShopGun" connectionString="Server=.\SqlExpress;Database=ShopGunIntegrationTest;Trusted_Connection=yes" />-->
  <add name="ShopGun" connectionString="Server=.\SqlExpress;Database=ShopGun; User ID=sa; Password=moep" providerName="System.Data.SqlClient" />
</connectionStrings>