<project name="ShopGun" queue="Shopgun" queuePriority="2">
  <labeller type="defaultlabeller">
    <prefix>1.0.0.</prefix>
    <incrementOnFailure>false</incrementOnFailure>
  </labeller>

  <cb:scope CCNetProject="ShopGun" xmlns:cb="urn:ccnet.config.builder">
    <webURL>$(webServer)/server/local/project/$(CCNetProject)/ViewLatestBuildReport.aspx</webURL>
    <workingDirectory>$(rootFolder)\$(CCNetProject)</workingDirectory>
    <artifactDirectory>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts</artifactDirectory>

    <modificationDelaySeconds>30</modificationDelaySeconds>

    <cb:scope trunkUrl="$(svnRoot)/Consumentor/$(CCNetProject)/trunk/src">
      <cb:include href="tools\CCNET\server\svn.config" />
    </cb:scope>

    <cb:include href="tools\CCNET\server\default_trigger.config" />

    <tasks>
      <!-- Get dependencies -->
      <exec description="SVN checkout Shopgun trunk">
        <executable>$(svnExe)</executable>
        <buildArgs>co $(svnRoot)/Consumentor/$(CCNetProject)/trunk $(rootFolder)\$(CCNetProject) --username $(svnUser) --password $(svnPassword) --non-interactive --no-auth-cache</buildArgs>
        <buildTimeoutSeconds>900</buildTimeoutSeconds>
      </exec>
      <!-- dll needed for msbuild -->
      <exec description="xcopy ...\MSBuild.dll">
        <executable>xcopy.exe</executable>
        <buildArgs>"$(ccnet)\server\ThoughtWorks.CruiseControl.MSBuild.dll" $(rootFolder)\$(CCNetProject) /Y</buildArgs>
        <buildTimeoutSeconds>10</buildTimeoutSeconds>
      </exec>
      <exec description="xcopy ...MsBuildListener.dll">
        <executable>xcopy.exe</executable>
        <buildArgs>"$(rootFolder)\$(CCNetProject)\tools\CCNET_MSBuildListener\MSBuildListener.dll" $(rootFolder)\$(CCNetProject) /Y</buildArgs>
        <buildTimeoutSeconds>10</buildTimeoutSeconds>
      </exec>
      <!-- build -->
      <msbuild description="$(CCNetProject).msbuild /noconsolelogger /maxcpucount:2 /v:quiet /p:ReferencePath='$(rootFolder)\$(CCNetProject)\tools\NUnit-2.5.8.10295\bin\net-2.0">
        <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
        <projectFile>$(CCNetProject).msbuild</projectFile>
        <!--<buildArgs>/t:Build  /nologo </buildArgs>-->
        <buildArgs>/noconsolelogger /maxcpucount:2 /v:quiet /p:ReferencePath="$(rootFolder)\$(CCNetProject)\tools\NUnit-2.5.8.10295\bin\net-2.0"</buildArgs>
        <targets>Build</targets >
        <timeout>600</timeout >
        <!-- <logger>$(ccnet)\server\Rodemeyer.MsBuildToCCNet.dll</logger > -->
      </msbuild>

    </tasks>

    <cb:include href="tools\CCNET\server\publishers.config" />

    <externalLinks>
      <externalLink name="Trac" url="http://$(server)/trac/$(CCNetProject)/timeline" />
    </externalLinks>
  </cb:scope>

</project>