<project name="ShopGunCopyBeta" queue="Shopgun" queuePriority="3">
  <labeller type="defaultlabeller">
    <prefix>1.0.0.</prefix>
    <incrementOnFailure>false</incrementOnFailure>
  </labeller>



  <cb:scope CCNetProject="ShopGun.MoveInstallers" xmlns:cb="urn:ccnet.config.builder">
    <webURL>$(webServer)/server/local/project/$(CCNetProject)/ViewLatestBuildReport.aspx</webURL>
    <workingDirectory>$(rootFolder)\$(CCNetProject)</workingDirectory>
    <artifactDirectory>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts</artifactDirectory>

    <cb:define CCNetLabel="$[$CCNetLabel]" />

    <tasks>
      <exec description="Moving old installer">
        <executable>xcopy.exe</executable>
        <buildArgs>"D:\Consumentor\ShopGun.Server\ToInstall\*.exe" "D:\Consumentor\ShopGun.Server\UnInstalled\" /Y</buildArgs>
        <buildTimeoutSeconds>30</buildTimeoutSeconds>
      </exec>

      <exec description="Moving new installer">
        <executable>xcopy.exe</executable>
        <buildArgs>"$(rootFolder)\ShopGun\Build\Installers\*.exe" "D:\Consumentor\Shopgun.Server\ToInstall\" /Y</buildArgs>
        <buildTimeoutSeconds>30</buildTimeoutSeconds>
      </exec>

      <exec description="Uninstalling old version $(CCNetLabel)">
        <executable>C:\Program Files (x86)\Consumentor\Shopgun.Server\v$(CCNetLabel)\uninstall.exe</executable>
        <buildArgs>/S</buildArgs>
        <buildTimeoutSeconds>30</buildTimeoutSeconds>
      </exec>

      <exec description="Installing new version $(CCNetLabel)">
        <executable>D:\Consumentor\Shopgun.Server\ToInstall\Consumentor.Shopgun.Server.v$(CCNetLabel).exe</executable>
        <buildArgs>/S /CreateServiceUser /DatabaseServer:CEKFDev001</buildArgs>
        <buildTimeoutSeconds>30</buildTimeoutSeconds>
      </exec>

      <exec description="Copying config files $(CCNetLabel)">
        <executable>xcopy.exe</executable>
        <buildArgs>"C:\Program Files (x86)\Consumentor\Shopgun.Server\*.config" "C:\Program Files (x86)\Consumentor\Shopgun.Server\v$(CCNetLabel)" /Y</buildArgs>
        <buildTimeoutSeconds>30</buildTimeoutSeconds>
      </exec>

    </tasks>

  </cb:scope>

</project>