<!--ENTITY workingDir "E:\Consumentor\CCnet\ShopGunWorkingDir"-->
<!--[<!ENTITY svnTrunkURL "https://213.115.114.114:9300/svn/Consumentor/ShopGun/trunk/">]-->



<project name="ShopGun">
  <state type="state" directory="E:\Consumentor\CCNet\CCNetState" />
  <webURL>http://192.168.0.198:222</webURL>
  <workingDirectory>E:\Consumentor\CCnet\ShopGunWorkingDir</workingDirectory>
  <artifactDirectory>E:\Consumentor\CCnet\ShopGunCCnetArtifacts
  </artifactDirectory>
	  
	<sourcecontrol type="svn">
		<trunkUrl>https://213.115.114.114:9300/svn/Consumentor/ShopGun/trunk</trunkUrl>
		<workingDirectory>E:\Consumentor\CCnet\ShopGunWorkingDir</workingDirectory>
		<username> administrator </username>
		<password> Adick-gra15 </password>
	</sourcecontrol>
	<triggers>
		<scheduleTrigger name="NightlyBuildTrigger" time="23:30" />
		<!--intervalTrigger name="Subversion" seconds="10"/-->
	</triggers>
	
	<labeller type="svnRevisionLabeller">
		<major>1</major>
		<minor>0</minor>
		<url>https://213.115.114.114:9300/svn/Consumentor/ShopGun/trunk</url>
	</labeller>

	<tasks>
	<!-- compiles working copy -->
		<msbuild>
			<executable>C:\Windows\Microsoft.Net\Framework\v3.5\msbuild.exe</executable>
			<workingDirectory>E:\Consumentor\CCnet\ShopGunWorkingDir\</workingDirectory>
			<projectFile>ShopGun.msbuild</projectFile >
			<buildArgs>/noconsolelogger /p:Configuration=Debug /v:quiet /p:ReferencePath="C:\Program Files\NUnit 2.5.7\bin\net-2.0"</buildArgs>
			<targets>Build</targets >
			<timeout>600</timeout >
			<logger>c:\Program Files\CruiseControl.NET\server\Rodemeyer.MsBuildToCCNet.dll</logger >
		</msbuild>
		<!-- launches nunit tests on working copy 
		<exec>
			<executable>C:\Program Files\NUnit 2.4.7\bin\nunit-console.exe</executable >
			<buildArgs>/xml:..\project1CCnetArtifacts\nunit-results.xml/nologo Dummy.sln.nunit/exclude:LongRunning,AnotherCategoryName</buildArgs>
		</exec>-->
		
		<!--buildpublisher>
			<sourceDir>C:\myprojects\project1</sourceDir>
			<publishDir>\\myfileserver\project1</publishDir>
			<useLabelSubDirectory>false</useLabelSubDirectory>
		</buildpublisher-->

	</tasks>
	
</project>