<project name="ShopGun.Integration" xmlns:cb="urn:ccnet.config.builder" queue="Consumentor" queuePriority="3">
	<labeller type="defaultlabeller">
		<prefix>1.0.0.</prefix>
		<incrementOnFailure>false</incrementOnFailure>
	</labeller>

	<cb:scope CCNetProject="ShopGun.Integration">
		<webURL>$(webServer)/server/local/project/$(CCNetProject)/ViewLatestBuildReport.aspx</webURL>
		<workingDirectory>$(rootFolder)\$(CCNetProject)</workingDirectory>
		<artifactDirectory>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts</artifactDirectory>

		<modificationDelaySeconds>30</modificationDelaySeconds>

		<cb:scope trunkUrl="$(svnRoot)/Consumentor/ShopGun/trunk/src">
			<cb:include href="tools\CCNET\server\svn.config" />
		</cb:scope>

    <triggers>
      <projectTrigger project="ShopGun">
        <triggerStatus>Success</triggerStatus>
        <innerTrigger type="intervalTrigger" seconds="15" buildCondition="ForceBuild"/>
      </projectTrigger>
    </triggers>

    <tasks>
			<!-- Get dependencies -->
			<exec>
				<executable>$(svnExe)</executable>
				<buildArgs>co $(svnRoot)/ShopGun/trunk $(rootFolder)\$(CCNetProject) --username $(svnUser) --password $(svnPassword) --non-interactive --no-auth-cache</buildArgs>
				<buildTimeoutSeconds>900</buildTimeoutSeconds>
			</exec>
			<!-- dll needed for msbuild -->
			<exec>
				<executable>xcopy.exe</executable>
				<buildArgs>"$(ccnet)\server\ThoughtWorks.CruiseControl.MSBuild.dll" $(rootFolder)\$(CCNetProject) /Y</buildArgs>
				<buildTimeoutSeconds>10</buildTimeoutSeconds>
			</exec>
			<!-- build -->
			<msbuild>
				<executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
				<projectFile>ShopGun.msbuild</projectFile>
				<buildArgs>/t:IntegrationTest /maxcpucount:2</buildArgs>
        <timeout>1200</timeout>
			</msbuild>
		</tasks>

		<cb:include href="tools\CCNET\server\publishers.config" />

		<externalLinks>
			<externalLink name="Trac" url="http://$(server)/trac/$(CCNetProject)/timeline" />
		</externalLinks>
	</cb:scope>

</project>
