<project name="Shopgun.Install" queue="Shopgun" queuePriority="3">
  <labeller type="defaultlabeller">
    <prefix>1.0.0.</prefix>
    <incrementOnFailure>false</incrementOnFailure>
  </labeller>

  <cb:scope CCNetProject="ShopGun.Install"  xmlns:cb="urn:ccnet.config.builder">
    <webURL>$(webServer)/server/local/project/$(CCNetProject)/ViewLatestBuildReport.aspx</webURL>
    <workingDirectory>$(rootFolder)\$(CCNetProject)</workingDirectory>
    <artifactDirectory>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts</artifactDirectory>

    <modificationDelaySeconds>30</modificationDelaySeconds>

    <cb:scope trunkUrl="$(svnRoot)/Consumentor/ShopGun/trunk/src">
      <cb:include href="tools\CCNET\server\svn.config" />
    </cb:scope>

    <triggers>
      <!--<scheduleTrigger time="06:00" buildCondition="IfModificationExists" name="morningBuild" />-->
      <scheduleTrigger time="20:00" buildCondition="IfModificationExists" name="eveningBuild" />
    </triggers>

    <tasks>
      <!-- Get dependencies -->
      <exec description="">
        <executable>$(svnExe)</executable>
        <buildArgs>co $(svnRoot)/Consumentor/ShopGun/trunk $(rootFolder)\ShopGun --username $(svnUser) --password $(svnPassword) --non-interactive --no-auth-cache</buildArgs>
        <buildTimeoutSeconds>900</buildTimeoutSeconds>
      </exec>
      <!-- dll needed for msbuild -->
      <exec description="">
        <executable>xcopy.exe</executable>
        <buildArgs>"$(ccnet)\server\ThoughtWorks.CruiseControl.MSBuild.dll" $(rootFolder)\Shopgun /Y</buildArgs>
        <buildTimeoutSeconds>10</buildTimeoutSeconds>
      </exec>

      <msbuild description="Build">
        <executable>C:\Windows\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe</executable>
        <projectFile>..\ShopGun\ShopGun.msbuild</projectFile>
        <!--<buildArgs>/t:Build  /nologo </buildArgs>-->
        <buildArgs>/noconsolelogger /maxcpucount:2 /v:quiet /p:ReferencePath="C:\Program Files\NUnit 2.5.7\bin\net-2.0"</buildArgs>
        <targets>Install</targets >
        <timeout>1800</timeout >
        <!-- <logger>C:\Program Files (x86)\CruiseControl.NET\server\Rodemeyer.MsBuildToCCNet.dll</logger > -->
      </msbuild>
      
    </tasks>

    <!--<cb:include href="$(ccnetIncludeFolder)\publishers.config" />-->
    <cb:include href="tools\CCNET\server\publishers.config" />

    <externalLinks>
      <externalLink name="Trac" url="http://$(server)/trac/ShopGun/timeline" />
      <!--<externalLink name="DMS Installers" url="/dms-installers" />-->
    </externalLinks>
  </cb:scope>

</project>
 