<project name="CCNETconfig" queue="Shopgun" queuePriority="1" >
  <cb:scope CCNetProject="CCNETconfig"  xmlns:cb="urn:ccnet.config.builder">
    <webURL>$(webServer)/server/local/project/$(CCNetProject)/ViewProjectReport.aspx</webURL>
    <workingDirectory>$(rootfolder)\ShopGun\$(CCNetProject)</workingDirectory>
    <artifactDirectory>$(rootFolder)\ShopGun\$(CCNetProject)\Artifacts</artifactDirectory>

    <modificationDelaySeconds>15</modificationDelaySeconds>
    <triggers>
      <intervalTrigger name="continuous" seconds="15" buildCondition="IfModificationExists" />
    </triggers>

    <cb:scope trunkUrl="$(svnRoot)/Consumentor/ShopGun/trunk/tools/CCNET/">
      <cb:include href="svn.config" />
    </cb:scope>

    <tasks>
      <!--Get source-->
      <exec description="SVN checkout CCNet">
        <executable>$(svnExe)</executable>
        <buildArgs>co $(svnRoot)/Consumentor/ShopGun/trunk/tools/CCNET/ --username $(svnUser) --password $(svnPassword) --non-interactive --no-auth-cache</buildArgs>
        <buildTimeoutSeconds>300</buildTimeoutSeconds>
      </exec>
    </tasks>

  </cb:scope>
</project>