<cruisecontrol xmlns:cb="urn:ccnet.config.builder" >

  <cb:define rootFolder="D:\CCNet" />
  <cb:define server="cekfsrv001" />
  <cb:define webServer="http://localhost:53222" />
  <cb:define svnRoot="https://$(server)/svn" />
  <cb:define svnUser="CruiseControlUser" />
  <cb:define svnPassword="Adick-gra15" />
  <cb:define svnExe="C:\Program Files (x86)\Subversion\bin\svn.exe" />
  <cb:define trunkUrl="you_forgot_to_set_it" />
  <cb:define ccnet="C:\Program Files (x86)\CruiseControl.NET" />
  <cb:define ccnetIncludeFolder="." />

  <cb:include href="ccnet_config.config"  />
  <cb:include href="..\..\..\Shopgun.ccnet.build.config" />
  <cb:include href="..\..\..\Shopgun.CCNET.Install.config" />
  <cb:include href="..\..\..\Shopgun.ccnet.copybeta.config" />

  <!-- 
  <cb:include href="..\..\..\Shopgun.CCNET.build.config" />
	<cb:include href="..\..\..\..\Shopgun.Integration\DMS.CCNET.IntegrationBuild.config" />
	<cb:include href="..\..\..\..\Shopgun.LongRunningIntegrationTest\DMS.CCNET.LongRunningIntegrationTest.config" />
	<cb:include href="..\..\..\..\Shopgun.CodeCoverage\DMS.CCNET.CodeCoverage.config" />
	
	<cb:include href="..\..\..\..\Shopgun.ScenarioRunner\DMS.CCNET.ScenarioRunner.config" />
	  -->

</cruisecontrol>