<triggers>
	<projectTrigger project="CCNETconfig">
		<triggerStatus>Success</triggerStatus>
		<innerTrigger type="intervalTrigger" seconds="15" buildCondition="ForceBuild"/>
	</projectTrigger>
	<intervalTrigger name="continuous" seconds="30" buildCondition="IfModificationExists" initialSeconds="30"/>
</triggers>
