<publishers xmlns:cb="urn:ccnet.config.builder">
  <merge>
    <files>
      <file>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts\FxCop.xml</file>
      <file>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts\test-results.xml</file>
      <file>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts\integration-results.xml</file>
      <file>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts\LongRunningIntegrationtest-results.xml</file>
      <file>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts\partcover-results.xml</file>

      <file>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts\PrintingPress_ScenarioResults.xml</file>
      <file>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts\Laminator_ScenarioResults.xml</file>
      <file>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts\Slitter_ScenarioResults.xml</file>
      <file>$(rootFolder)\$(CCNetProject)\Build\CCNetArtifacts\Doctoring_ScenarioResults.xml</file>

    </files>
  </merge>
  <xmllogger />
  <artifactcleanup cleanUpMethod="KeepLastXBuilds" cleanUpValue="100" />
</publishers>
