<sourcecontrol type="svn">
  <cb:scope svn="C:\Program Files\VisualSVN Server\svn.exe" xmlns:cb="urn:ccnet.config.builder" />
  <trunkUrl>$(trunkUrl)</trunkUrl>
  <autoGetSource>false</autoGetSource>
  <executable>$(svnExe)</executable>
  <username>$(svnUser)</username>
  <password>$(svnPassword)</password>
</sourcecontrol>