@charset "utf-8";
/* CSS Document */
.xtop, .xbottom {
	display:block;
	background:transparent;
	font-size:1px;
}
.xb1, .xb2, .xb3, .xb4 {
	display:block;
	overflow:hidden;
}
.xb1, .xb2, .xb3 {
	height:1px;
}
.xb2, .xb3, .xb4 {
	background:#ececec;
	border-left:1px solid #ececec;
	border-right:1px solid #ececec;
}
.xb1 {
	margin:0 5px;
	background:#ececec;
}
.xb2 {
	margin:0 3px;
	border-width:0 2px;
}
.xb3 {
	margin:0 2px;
}
.xb4 {
	height:2px;
	margin:0 1px;
}
.roundedCornerDivContent {
	display:block;
	background:#ececec;
	text-align:left;
	border:0 solid #ececec;
	border-width:0 1px;
	padding:10px;
	margin:0px;
}


