<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <properties />
  <facilities>
    <facility
        id="logging"
        type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
        customLoggerFactory="Castle.Services.Logging.Log4netIntegration.Log4netFactory, Castle.Services.Logging"
        loggingApi="log4net"
        configFile="log.config"
      />
  </facilities>
  <components />
</castle>