<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <properties />
  <facilities>
    <!-- loggingApi="null|console|diagnostics|web|nlog|log4net|custom" -->
    <facility
        id="logging"
        type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
        customLoggerFactory="Castle.Services.Logging.Log4netIntegration.Log4netFactory, Castle.Services.Logging"
        loggingApi="log4net"
        configFile="log.config"
      />
  </facilities>
  <components>
    <!-- Windsor configuration -->
    <component id="WindsorConfiguration"
               service="Consumentor.ShopGun.Component.IContainerConfiguration, Consumentor.ShopGun.Infrastructure"
               type="Consumentor.Shopgun.Web.Community.UI.IocConfig, Consumentor.Shopgun.Web.Community.UI" />
  </components>
</castle>